#body-container {
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.title-anchor {
    position: absolute;
    transform: translateY(-180px);
}

.title {
    margin-top: 80px;
    font-weight: bolder;
}