#body-container {
    position: absolute;
    width: var(--body-width);
    left: 50%;
    transform: translateX(-50%);
}

.title-anchor {
    position: absolute;
    transform: translateY(-180px);
}

.title {
    margin-top: 80px;
    font-weight: bolder;
}

.projects-grid {
    display: grid;
    margin: 0 5px;
    text-align: center;
    grid-template-columns: repeat(var(--projects-per-row), calc(1 /var(--projects-per-row) * 100%));
    column-gap: 10px;
    row-gap: 10px;
}
.projects-grid a {
    text-decoration: none;
    color: #000;
}

.projects-grid:after {
    content: "";
    display: table;
    clear: both;
}

.projects-grid > * {
    border: solid 1px #000;
    border-radius: 40px;
    position: relative;
    padding: 10px;
    cursor: pointer;
    min-height: 1024px;
}

.project-thumb {
    position: relative;
    height: 512px;
}
.project-thumb > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
