@font-face {
 font-family: 'Valera Round';
 src: url("./assets/valeraRound/VarelaRound-Regular.ttf");
}


body {
    font-family: 'Valera Round', serif;
    font-size: 24px;

    --page-title-font-size-big: 40px;
    --page-title-font-size-small: 30px;
    --body-width: 95%;
    --projects-per-row: 1;
}
@media (min-width: 1300px) {
 body {
  --page-title-font-size-big: 140px;
  --body-width: 50%;
  --projects-per-row: 2;
 }
}


