
#footer {
    display: grid;
    grid-timplate-columns: repeat(2,50%);
    collumn-gap: 10px;
    row-gap: 10px;
    background-color: #000;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 100px;
}

#footer:after {
    display: table;
    content: "";
    clear: both;
}

.footer-item .footer-item:hover .footer-item:link .footer-item:active .footer-item:visited {
    color: #888 !important;
    text-decoration: none !important;
}
