#title-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

#title-bar-bg {
    position: relative;
    height: 100px;
    background-color: #002336;
    color: white;
    font-weight: bolder;
    padding: 10px;
    margin: 30px;
    border-radius: 50px;
    animation: collapse-title-bar 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -0.9s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes collapse-title-bar {
    from {
        padding: 60px;
        height: 600px;
    }
    to {
        padding: 10px;
        height: 100px;
    }
}

#derdilla-com-title {
    position: absolute;
    top: 50%;
    font-size: 50px;
    margin-left: 40px;
    
    animation: collapse-title-bar-title 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -0.9s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes collapse-title-bar-title {
    from {
        font-size: 140px;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
    }

    to {
        font-size: 50px;
        left: 0%;
        top: 25%;
        transform: translateX(0%);
    }
}

#sections-bar {
    position: absolute;
    right: 0;
    top: 25%;
    font-size: 40px;
    margin-right: 20px;

    animation: collapse-sections-bar 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -0.9s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes collapse-sections-bar {
    from {
        right: 50%;
        top: 110%;
        transform: translateX(50%);
        font-size: 70px;
    }

    to {
        right: 0;
        top: 25%;
        font-size: 40px;
    }
}

.section-btn {
    padding: 30px;
    color: #6fbbe4;
    text-decoration: none;
    border-radius: 30px;
}

.section-btn:hover {
    backdrop-filter: brightness(120%);
}